@charset "UTF-8";
@import url(../libs/normalize-css/normalize.css);
@import url(../libs/magnific-popup/dist/magnific-popup.css);
@import url(../libs/slick/slick.css);
@import url(../libs/slick/slick-theme.css);
@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.ttf"); }

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url("../fonts/Roboto-BlackItalic.ttf"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url("../fonts/Roboto-BoldItalic.ttf"); }

@font-face {
  font-family: 'Roboto-Italic';
  src: url("../fonts/Roboto-Italic.ttf"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url("../fonts/Roboto-LightItalic.ttf"); }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url("../fonts/Roboto-MediumItalic.ttf"); }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.ttf"); }

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url("../fonts/Roboto-ThinItalic.ttf"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Roboto-Regular, sans-serif;
  color: #364457; }

.container {
  width: 992px;
  margin: auto; }

.consalt-button a {
  text-decoration: none;
  font-family: Roboto-Black, sans-serif;
  font-size: 16px;
  color: #fff;
  background: #e9c047;
  padding: 23px 35px 22px 37px; }
  .consalt-button a:hover {
    -webkit-box-shadow: 0px 0px 2px 2px #E9C047;
            box-shadow: 0px 0px 2px 2px #E9C047; }

#toTop {
  width: 60px;
  background: #e9c047;
  padding: 2px 5px 2px 5px;
  position: fixed;
  bottom: 0;
  /* отступ кнопки от нижнего края страницы*/
  left: -webkit-calc(((100vw - 1140px)/2) + 70px);
  left: calc(((100vw - 1140px)/2) + 70px);
  cursor: pointer;
  display: none;
  color: #fff;
  font-family: Roboto-Light, sans-serif;
  font-size: 11px; }

h2 {
  font-family: Roboto-Bold, sans-serif;
  font-size: 36px;
  color: #364457; }

h3 {
  font-family: Roboto-Bold, sans-serif;
  font-size: 16px;
  color: #364457; }

#start {
  position: relative;
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.top-header {
  position: relative;
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 520px;
  margin: auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .top-header .left {
    background-image: url(../img/bg-header.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    -webkit-background-size: auto 410px;
            background-size: auto 410px; }
    .top-header .left img {
      position: absolute;
      height: 160px;
      width: auto; }
  .top-header .right {
    padding-left: 20px;
    background: #364457; }
    .top-header .right .contact-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .top-header .right .contact-info .phone,
      .top-header .right .contact-info .addres {
        font-size: 16px;
        color: #fff; }
      .top-header .right .contact-info img {
        height: 18px;
        padding-right: 12px; }
    .top-header .right h1 {
      font-family: Roboto-Light, sans-serif;
      font-size: 40px;
      color: #fff;
      font-weight: 300;
      padding-top: 93px;
      padding-bottom: 40px;
      text-transform: uppercase; }
    .top-header .right p {
      font-size: 16px;
      color: #fff;
      padding-bottom: 57px; }
  .top-header .mouse {
    position: absolute;
    top: 440px;
    left: 48%;
    grid-column: 2 span;
    text-align: center; }
    .top-header .mouse img {
      height: 40px; }
    .top-header .mouse .active {
      border: none !important; }

nav {
  width: 100%;
  background: #f7f8f3;
  height: 50px; }
  nav .container ul {
    list-style: none; }
  nav .container > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    nav .container > ul li {
      position: relative; }
      nav .container > ul li a {
        display: block;
        background: #f7f8f3;
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 14px;
        color: #364457;
        text-decoration: none;
        text-transform: uppercase; }
        nav .container > ul li a:hover {
          -webkit-box-shadow: inset 0px -5px 0px 0px #e9c147;
                  box-shadow: inset 0px -5px 0px 0px #e9c147; }
        nav .container > ul li a i {
          padding-left: 15px; }
      nav .container > ul li ul {
        position: absolute;
        min-width: 118px;
        min-height: 30px;
        display: none;
        padding-top: -5px; }
        nav .container > ul li ul li a {
          display: block;
          font-size: 13px;
          background: #efd382;
          padding-top: 10px;
          padding-bottom: 13px;
          padding-left: 10px;
          border: none !important; }
          nav .container > ul li ul li a:hover {
            background: #e9c047;
            padding-top: 10px;
            padding-bottom: 15px; }
      nav .container > ul li:hover > ul {
        display: block; }
  nav .active {
    -webkit-box-shadow: inset 0px -5px 0px 0px #e9c147;
            box-shadow: inset 0px -5px 0px 0px #e9c147; }

.fixed-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }

#section-a {
  padding-top: 45px;
  padding-bottom: 20px;
  background: #f7f8f3; }
  #section-a .business-guard {
    display: grid;
    grid-template-columns: 422px 578px; }
    #section-a .business-guard .guard-left h2 {
      padding-top: 120px; }
    #section-a .business-guard .guard-left p {
      font-size: 14px;
      color: #364457;
      padding: 45px 80px 100px 0; }
    #section-a .business-guard .guard-left .up-button {
      padding-top: 165px; }
    #section-a .business-guard .guard-right .guard-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      padding-top: 50px; }
      #section-a .business-guard .guard-right .guard-cards .guard-card {
        background: #d6dee6;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 150px; }
        #section-a .business-guard .guard-right .guard-cards .guard-card img {
          height: 37px;
          padding: 20px 0 0 20px; }
        #section-a .business-guard .guard-right .guard-cards .guard-card h3 {
          padding: 20px; }

#section-b {
  padding-bottom: 50px;
  background: #f7f8f3;
  height: 550px; }
  #section-b .personal-guard {
    padding-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #section-b .personal-guard .guard-left {
      padding-right: 155px; }
      #section-b .personal-guard .guard-left h2 {
        padding: 120px 0 0 0; }
      #section-b .personal-guard .guard-left p {
        font-size: 14px;
        color: #364457;
        padding: 45px 0px 100px 0; }
    #section-b .personal-guard .guard-right .guard-cards {
      padding-top: 50px;
      padding-left: 20px;
      grid-template-columns: 1fr; }
      #section-b .personal-guard .guard-right .guard-cards .guard-card {
        padding-top: 13px;
        display: grid;
        grid-template-columns: 50px 350px; }
        #section-b .personal-guard .guard-right .guard-cards .guard-card .img {
          background: #e9c047;
          height: 50px;
          height: 50px;
          text-align: center;
          -webkit-align-content: center;
              -ms-flex-line-pack: center;
                  align-content: center; }
          #section-b .personal-guard .guard-right .guard-cards .guard-card .img img {
            width: 40px;
            height: 40px;
            padding-top: 5px; }
        #section-b .personal-guard .guard-right .guard-cards .guard-card h3 {
          background: #d6dee6;
          text-transform: uppercase;
          padding-top: 18px;
          padding-left: 16px; }

#section-c {
  background: #f7f8f3;
  height: 650px; }
  #section-c .container-wide {
    padding-top: 40px;
    width: 1140px;
    height: 600px;
    margin: auto; }
    #section-c .container-wide .about {
      padding-top: 60px;
      display: grid;
      grid-template-columns: 450px 532px; }
      #section-c .container-wide .about .about-left {
        padding-right: 78px; }
        #section-c .container-wide .about .about-left h2 {
          padding-bottom: 25px; }
        #section-c .container-wide .about .about-left .img {
          padding-top: 50px;
          margin-left: -30px; }
          #section-c .container-wide .about .about-left .img img {
            border-right: 2px solid #e9c047; }
      #section-c .container-wide .about .about-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px 40px; }
        #section-c .container-wide .about .about-right .about-block-a .head,
        #section-c .container-wide .about .about-right .about-block-a .head-d,
        #section-c .container-wide .about .about-right .about-block-b .head,
        #section-c .container-wide .about .about-right .about-block-b .head-d,
        #section-c .container-wide .about .about-right .about-block-c .head,
        #section-c .container-wide .about .about-right .about-block-c .head-d {
          font-family: Roboto-Bold, sans-serif;
          color: #e9c047;
          padding-left: 15px; }
        #section-c .container-wide .about .about-right .about-block-a .inf,
        #section-c .container-wide .about .about-right .about-block-b .inf,
        #section-c .container-wide .about .about-right .about-block-c .inf {
          font-size: 16px;
          padding-top: 15px; }
        #section-c .container-wide .about .about-right .about-block-a .head {
          font-size: 60px; }
        #section-c .container-wide .about .about-right .about-block-b .head {
          font-size: 50px; }
        #section-c .container-wide .about .about-right .about-block-c .head {
          font-size: 29px; }
        #section-c .container-wide .about .about-right .about-block-a .head-d,
        #section-c .container-wide .about .about-right .about-block-b .head-d {
          font-family: Roboto-Regular, sans-serif;
          font-size: 19px; }
        #section-c .container-wide .about .about-right .about-block-c .head-d {
          font-family: Roboto-Regular, sans-serif;
          font-size: 29px; }
        #section-c .container-wide .about .about-right .block-head {
          border-left: 2px solid #e9c047; }
    #section-c .container-wide .mini-footer {
      margin-top: -5px;
      height: 50px; }
      #section-c .container-wide .mini-footer .arrow {
        display: grid;
        grid-template-columns: 486px 280px auto;
        text-align: right; }
        #section-c .container-wide .mini-footer .arrow .arrow-icon {
          background: #f7f8f3;
          z-index: 1;
          -webkit-transition: .4s ease;
          -o-transition: .4s ease;
          transition: .4s ease; }
          #section-c .container-wide .mini-footer .arrow .arrow-icon i {
            font-size: 48px;
            color: #364457;
            padding-top: 7px;
            padding-right: 2px;
            -webkit-transition: .3s ease;
            -o-transition: .3s ease;
            transition: .3s ease;
            border-right: 2px solid #e9c047;
            height: 55px; }
        #section-c .container-wide .mini-footer .arrow .arrow-info {
          margin-left: -280px;
          margin-right: 280px;
          padding: 11px;
          background: #d6dee6;
          z-index: -1;
          -webkit-transition: .4s ease;
          -o-transition: .4s ease;
          transition: .4s ease; }
          #section-c .container-wide .mini-footer .arrow .arrow-info a {
            text-decoration: none;
            color: #364457;
            text-align: left; }
            #section-c .container-wide .mini-footer .arrow .arrow-info a p {
              font-size: 13px;
              padding-top: 3px; }
        #section-c .container-wide .mini-footer .arrow:hover i {
          cursor: pointer;
          color: #e9c047;
          -webkit-transition: .4s ease;
          -o-transition: .4s ease;
          transition: .4s ease; }
        #section-c .container-wide .mini-footer .arrow:hover .arrow-info {
          margin: 0;
          z-index: 0;
          display: block;
          -webkit-transition: .4s ease;
          -o-transition: .4s ease;
          transition: .4s ease; }

#section-d {
  background: #f7f8f3;
  height: 600px; }
  #section-d .team .team-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 88px; }
    #section-d .team .team-top .team-left p {
      padding-top: 30px;
      padding-bottom: 42px; }
    #section-d .team .team-top .team-right {
      border-left: 3px solid #d6dee6; }
      #section-d .team .team-top .team-right p {
        padding: 0 45px 35px 35px; }
      #section-d .team .team-top .team-right p:nth-child(2) {
        padding-bottom: 0; }
  #section-d .team .team-bottom {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
    font-family: Roboto-Light, sans-serif;
    font-size: 16px;
    text-align: center; }
    #section-d .team .team-bottom img {
      width: 205px; }
    #section-d .team .team-bottom .name {
      text-transform: uppercase; }

#section-e {
  background: #f7f8f3;
  height: 700px; }
  #section-e .cases {
    padding-top: 85px; }
    #section-e .cases .cases-top p {
      padding-top: 27px;
      padding-right: 515px;
      padding-bottom: 35px; }
    #section-e .cases .cases-bottom .slickslider {
      padding-bottom: 0px;
      height: 410px; }
      #section-e .cases .cases-bottom .slickslider .case {
        border-left: 1px solid #d6dee67e;
        border-right: 1px solid #d6dee67e;
        height: 390px;
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-transition: 0.3s ease !important;
        -o-transition: 0.3s ease !important;
        transition: 0.3s ease !important; }
        #section-e .cases .cases-bottom .slickslider .case .case-head {
          font-family: Roboto-Light, sans-serif;
          font-size: 26px;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 20px;
          background: url(../img/l-bg.png); }
        #section-e .cases .cases-bottom .slickslider .case h4 {
          font-family: Roboto-Bold, sans-serif;
          font-size: 14px;
          text-transform: uppercase;
          padding-left: 10px; }
        #section-e .cases .cases-bottom .slickslider .case p {
          font-family: Roboto-Light, sans-serif;
          font-size: 14px;
          padding-left: 10px;
          padding-right: 10px; }
        #section-e .cases .cases-bottom .slickslider .case:hover {
          cursor: pointer;
          border: none;
          padding-bottom: 20px;
          -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
                  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
          -webkit-transition: 0.3s ease !important;
          -o-transition: 0.3s ease !important;
          transition: 0.3s ease !important; }

#section-f {
  background: #f7f8f3;
  height: 650px; }
  #section-f .prises .prises-top {
    padding-top: 70px; }
    #section-f .prises .prises-top p {
      padding-top: 25px;
      padding-right: 670px;
      padding-bottom: 20px; }
  #section-f .prises .prises-bottom .prises-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    #section-f .prises .prises-bottom .prises-cards .prises-card {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-right: 1px solid #d6dee67e;
      border-left: 1px solid #d6dee67e;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      height: 350px;
      margin: 25px 10px;
      transition: 0.3s ease; }
      #section-f .prises .prises-bottom .prises-cards .prises-card .card-head {
        -webkit-background-size: cover;
                background-size: cover;
        margin-left: -1px;
        margin-right: -1px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        background-size: cover;
        background-position: center;
        height: 95px;
        width: 232px;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease; }
        #section-f .prises .prises-bottom .prises-cards .prises-card .card-head h4 {
          font-size: 16px;
          color: #d6dee6;
          text-transform: uppercase; }
      #section-f .prises .prises-bottom .prises-cards .prises-card .card-info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 198px; }
        #section-f .prises .prises-bottom .prises-cards .prises-card .card-info i {
          margin: 13px;
          font-size: 22px;
          color: #364457;
          -webkit-transition: 0.3s ease;
          -o-transition: 0.3s ease;
          transition: 0.3s ease; }
        #section-f .prises .prises-bottom .prises-cards .prises-card .card-info p {
          font-size: 11px;
          color: #364457;
          padding: 10px 0;
          width: 130px;
          -webkit-transition: 0.3s ease;
          -o-transition: 0.3s ease;
          transition: 0.3s ease; }
      #section-f .prises .prises-bottom .prises-cards .prises-card .card-bottom {
        background: #364457;
        text-transform: uppercase;
        width: 230px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease; }
        #section-f .prises .prises-bottom .prises-cards .prises-card .card-bottom a {
          text-decoration: none;
          color: #d6dee6;
          font-size: 14px; }
        #section-f .prises .prises-bottom .prises-cards .prises-card .card-bottom i {
          padding-left: 10px; }
      #section-f .prises .prises-bottom .prises-cards .prises-card:hover {
        border: none;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        margin: 0;
        margin-left: 10px;
        height: 400px; }
        #section-f .prises .prises-bottom .prises-cards .prises-card:hover .card-head {
          height: 110px;
          width: 232px; }
        #section-f .prises .prises-bottom .prises-cards .prises-card:hover .card-info {
          width: 218px; }
          #section-f .prises .prises-bottom .prises-cards .prises-card:hover .card-info i {
            margin: 15px; }
        #section-f .prises .prises-bottom .prises-cards .prises-card:hover .card-bottom {
          width: 230px; }

#section-g {
  background: url(../img/media-bg.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }
  #section-g .media {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #section-g .media .media-left {
      padding-top: 150px; }
      #section-g .media .media-left h2 {
        color: #fff;
        padding-right: 180px;
        padding-bottom: 55px; }
      #section-g .media .media-left p {
        font-family: Roboto-Regular, sans-serif;
        color: #fff;
        padding-right: 90px;
        padding-bottom: 75px; }
      #section-g .media .media-left .consalt-button {
        padding-bottom: 145px; }
    #section-g .media .media-right {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px;
      padding-top: 110px; }
      #section-g .media .media-right .media-card {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        #section-g .media .media-right .media-card img {
          height: 60px;
          width: 60px; }
        #section-g .media .media-right .media-card p {
          font-size: 12;
          text-align: center;
          color: #d4d8dc; }
        #section-g .media .media-right .media-card:last-child {
          grid-column: 2 / 3; }

#section-j {
  background: #f7f8f3;
  height: 600px; }
  #section-j .advice .advice-top {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #section-j .advice .advice-top .advice-top-left h2 {
      padding-top: 100px;
      padding-bottom: 30px; }
    #section-j .advice .advice-top .advice-top-left p {
      padding-right: 150px;
      padding-bottom: 55px; }
    #section-j .advice .advice-top .advice-top-right {
      padding-top: 125px;
      padding-left: 20px;
      display: grid;
      grid-template-columns: 20px 450px;
      grid-template-rows: 20px 20px 20px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-column-gap: 18px;
         -moz-column-gap: 18px;
              column-gap: 18px;
      grid-template-areas: 'facebook    socia' 'instagram   socia' 'youtube     socia'; }
      #section-j .advice .advice-top .advice-top-right .facebook-square {
        grid-area: facebook; }
      #section-j .advice .advice-top .advice-top-right .instagram {
        grid-area: instagram; }
      #section-j .advice .advice-top .advice-top-right .youtube {
        grid-area: youtube; }
      #section-j .advice .advice-top .advice-top-right .text-socia {
        grid-area: socia;
        padding: 15px 60px 20px 10px;
        background: url(../img/socia-bg.jpg);
        font-family: Roboto-Light, sans-serif;
        font-size: 15px;
        color: #d4d8dc; }
      #section-j .advice .advice-top .advice-top-right i {
        font-size: 20px;
        color: #364457; }
  #section-j .advice .advice-bottom .block-name {
    padding-right: 55px;
    font-size: 18px; }
    #section-j .advice .advice-bottom .block-name span {
      background: #e9c047;
      font-size: 12px;
      color: #fff;
      padding: 0 3px; }
  #section-j .advice .advice-bottom .see-all {
    padding-top: 80px; }
    #section-j .advice .advice-bottom .see-all .see-button a {
      text-decoration: none;
      font-family: Roboto-Black, sans-serif;
      font-size: 16px;
      color: #9098a0;
      background: #f7f8f3;
      padding: 23px 35px 22px 37px;
      border: 2px solid #9098a0; }
      #section-j .advice .advice-bottom .see-all .see-button a:hover {
        color: #f7f8f3;
        background: #9098a0;
        -webkit-box-shadow: 0px 0px 2px 2px #f7f8f3;
                box-shadow: 0px 0px 2px 2px #f7f8f3; }
  #section-j .advice .advice-bottom .slick-slide:hover {
    margin: 20px !important; }

#section-k .k-top {
  height: 400px;
  background: #f7f8f3; }
  #section-k .k-top .contacts-top {
    display: grid;
    grid-template-columns: 520px 480px;
    padding-top: 70px;
    width: 1000px;
    margin: auto; }
    #section-k .k-top .contacts-top .map {
      width: 520px;
      height: 275px;
      background: url(../img/map.jpg); }
      #section-k .k-top .contacts-top .map .opas {
        width: 267px;
        height: 275px;
        background: #fff;
        opacity: .6;
        -webkit-box-shadow: -1px 6px 19px 0px rgba(0, 0, 0, 0.75);
                box-shadow: -1px 6px 19px 0px rgba(0, 0, 0, 0.75); }
        #section-k .k-top .contacts-top .map .opas .addr {
          text-transform: uppercase;
          font-family: Roboto-Bold, sans-serif; }
        #section-k .k-top .contacts-top .map .opas .mail {
          border-bottom: 2px solid #e9c047;
          width: 145px; }
        #section-k .k-top .contacts-top .map .opas p {
          font-size: 14px;
          margin-left: 20px;
          padding: 3px 0;
          color: black; }
    #section-k .k-top .contacts-top .contacts-top-right {
      padding-left: 60px; }
      #section-k .k-top .contacts-top .contacts-top-right p {
        margin-top: 33px;
        margin-right: 55px;
        margin-bottom: 46px; }
      #section-k .k-top .contacts-top .contacts-top-right .call-button {
        padding-top: 61px; }
        #section-k .k-top .contacts-top .contacts-top-right .call-button a {
          text-decoration: none;
          font-family: Roboto-Black, sans-serif;
          font-size: 16px;
          color: #e9c047;
          background: #fff;
          padding: 23px 64px; }
          #section-k .k-top .contacts-top .contacts-top-right .call-button a:hover {
            color: #fff;
            background: #e9c047; }

#section-k .k-bottom {
  height: 220px;
  background: #364457; }
  #section-k .k-bottom .footer {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    #section-k .k-bottom .footer div {
      color: #d6dee6; }
      #section-k .k-bottom .footer div h4 {
        text-transform: uppercase;
        padding-top: 28px;
        padding-bottom: 15px;
        font-family: Roboto-Bold, sans-serif;
        font-size: 14px; }
      #section-k .k-bottom .footer div p {
        font-family: Roboto-Light, sans-serif;
        font-size: 14px;
        padding-top: 2px; }
        #section-k .k-bottom .footer div p:hover {
          cursor: pointer;
          color: #e9c047; }
      #section-k .k-bottom .footer div .media-icon {
        font-size: 24px; }
        #section-k .k-bottom .footer div .media-icon i {
          padding-right: 8px; }
          #section-k .k-bottom .footer div .media-icon i:hover {
            cursor: pointer;
            color: #e9c047; }
      #section-k .k-bottom .footer div a {
        text-decoration: none;
        color: #d6dee6;
        font-size: 16px; }
        #section-k .k-bottom .footer div a:hover {
          color: #e9c047; }
      #section-k .k-bottom .footer div .fire {
        padding-top: 15px; }
      #section-k .k-bottom .footer div .mail {
        font-size: 14px;
        border-bottom: 2px solid #e9c047 !important;
        width: 145px; }

.hidden {
  display: none; }

#advokat {
  position: relative;
  height: 400px;
  width: 720px;
  margin: auto;
  background: url(../img/popup-bg.png);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  color: #d6dee6;
  text-align: justify; }
  #advokat h2 {
    padding: 25px 120px;
    color: #d6dee6; }
  #advokat p {
    padding: 15px 120px;
    font-family: Roboto-Regular, sans-serif; }
  #advokat .popup-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 460px;
    margin: auto; }
    #advokat .popup-info .popup-info-block {
      display: grid;
      grid-template-columns: 30px 200px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #advokat .popup-info .popup-info-block i {
        font-size: 30px; }
      #advokat .popup-info .popup-info-block p {
        padding: 10px 28px;
        color: #d6dee6;
        font-family: Roboto-Regular, sans-serif;
        font-size: 20px;
        text-align: left; }
  #advokat .popup-button {
    padding-top: 28px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }

.mfp-close {
  color: #d6dee6 !important;
  font-size: 45px !important; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
