@import url(../libs/magnific-popup/dist/magnific-popup.css);
@font-face {
  font-family: 'lobster';
  src: url("../fonts/lobster.ttf"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf"); }

*, body,
html {
  margin: 0;
  padding: 0; }

body {
  background: url(../img/wood-bg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto; }

.container-ww {
  width: 90%;
  margin: auto; }

.box {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
  pointer-events: none;
  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease; }

h2 {
  font-size: 2.5rem;
  padding: 1em;
  padding-top: 2em; }

h3 {
  font-size: 1.5rem;
  padding-bottom: .6em; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

nav .menu__inner a {
  color: #B46E3C;
  text-decoration: none;
  text-align: center; }

nav .menu__inner a:hover,
nav .menu__inner a:focus {
  color: #B46E3C;
  outline: none; }

.menu {
  position: fixed;
  width: 160px;
  top: 3em;
  bottom: 3em;
  left: 0;
  z-index: 100;
  overflow: hidden;
  -webkit-transform: translate3d(-95px, 0, 0);
          transform: translate3d(-95px, 0, 0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  -o-transition: transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s; }

.menu.menu--open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.main {
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.menu.menu--open + .main {
  opacity: 0.3;
  pointer-events: none; }

.menu__inner {
  width: -webkit-calc(100% + 25px);
  width: calc(100% + 25px);
  padding: 0 70px 2em 0;
  overflow-y: auto;
  height: 100%;
  position: relative;
  z-index: 100; }

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu ul li {
  margin: 0 0 2em 0;
  -webkit-transform: translate3d(-150px, 0, 0);
          transform: translate3d(-150px, 0, 0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  -o-transition: transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s; }

.menu.menu--anim ul li {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.menu ul li:first-child {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s; }

.menu ul li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s; }

.menu ul li:nth-child(3) {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.menu ul li a {
  display: block;
  outline: none; }

.menu ul li i {
  font-size: 2.5em;
  display: block;
  margin: 0 auto;
  color: #B46E3C; }
  .menu ul li i:hover, .menu ul li i:focus {
    color: #B46E3C;
    outline: none; }

.menu ul li span {
  font-weight: bold;
  font-size: 0.75em;
  font-family: "Roboto-Bold"; }

.menu__handle {
  background: rgba(0, 0, 0, 0);
  border: none;
  width: 30px;
  height: 24px;
  padding: 0;
  outline: none;
  position: absolute;
  top: 3px;
  right: 0px;
  z-index: 2000;
  cursor: pointer; }

.menu__handle::before,
.menu__handle::after,
.menu__handle span {
  background: #B46E3C; }

.menu__handle::before,
.menu__handle::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s; }

.menu__handle span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  overflow: hidden;
  text-indent: 200%;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s; }

.menu__handle::before {
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0); }

.menu__handle::after {
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0); }

.menu--open .menu__handle span {
  opacity: 0; }

.menu--open .menu__handle::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg); }

.menu--open .menu__handle::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg); }

.morph-shape {
  position: absolute;
  width: 91px;
  height: 100%;
  top: 0;
  right: 0; }

.morph-shape svg path {
  stroke: #B46E3C;
  stroke-width: 20px; }

#canv {
  background-color: #000;
  height: 100vh;
  overflow: hidden; }
  #canv #logo {
    opacity: 0; }

#about {
  width: 100%;
  color: #959595;
  font-family: lobster;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, black 0%, #00010a 19%, rgba(0, 3, 51, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(19%, #00010a), to(rgba(0, 3, 51, 0)));
  background: -o-linear-gradient(top, black 0%, #00010a 19%, rgba(0, 3, 51, 0) 100%);
  background: linear-gradient(to bottom, black 0%, #00010a 19%, rgba(0, 3, 51, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000333',GradientType=0 );
  /* IE6-9 */ }
  #about .about-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10vw; }
    #about .about-blocks .block {
      width: 90%; }
      #about .about-blocks .block .counters {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        color: #959595; }
        #about .about-blocks .block .counters .count .fas {
          font-size: 2.5rem; }
        #about .about-blocks .block .counters .count span {
          font-size: 1.8rem; }
  #about .tech {
    padding-top: 1em; }
  #about .tech-blocks {
    display: grid;
    grid-template-columns: repeat(8, 1fr); }
    #about .tech-blocks .tech-block {
      text-align: center; }
      #about .tech-blocks .tech-block:first-child {
        grid-column-start: 2; }
      #about .tech-blocks .tech-block .icon {
        font-size: 3rem; }

#portfolio {
  color: #959595;
  font-family: lobster; }
  #portfolio .portfolio-gallary {
    display: grid;
    grid-template-columns: repeat(4, 21vw);
    grid-template-rows: repeat(3, 16vw);
    grid-gap: 2vw; }
    #portfolio .portfolio-gallary a {
      text-decoration: none;
      color: #B46E3C;
      font-size: 3rem; }
      #portfolio .portfolio-gallary a .portfolio-item {
        -webkit-background-size: cover;
                background-size: cover;
        background-position: top;
        height: 100%;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease; }
        #portfolio .portfolio-gallary a .portfolio-item i {
          position: relative;
          text-align: center;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-40%, -50%);
              -ms-transform: translate(-40%, -50%);
                  transform: translate(-40%, -50%);
          opacity: 0;
          -webkit-transition: 0.5s ease;
          -o-transition: 0.5s ease;
          transition: 0.5s ease; }
      #portfolio .portfolio-gallary a:first-child {
        grid-column: span 2;
        grid-row: 1 / 3; }
      #portfolio .portfolio-gallary a:nth-child(4) {
        grid-column: 3 / 5;
        grid-row: 2 / 4; }
      #portfolio .portfolio-gallary a:hover .portfolio-item {
        -webkit-box-shadow: 1px 11px 700px 300px rgba(47, 47, 47, 0.7) inset;
                box-shadow: 1px 11px 700px 300px rgba(47, 47, 47, 0.7) inset; }
        #portfolio .portfolio-gallary a:hover .portfolio-item i {
          opacity: 1; }

.example-popup {
  position: relative;
  background: url(../img/dark-line.jpg);
  color: #959595;
  padding: 20px;
  width: 50%;
  margin: 20px auto;
  font-family: lobster; }
  .example-popup h4 {
    font-size: 1.2rem; }
  .example-popup p {
    font-size: 1.1rem; }
  .example-popup .first_img {
    padding: 1em 0; }
  .example-popup img {
    width: 100%;
    height: auto;
    margin-bottom: 0px; }
  .example-popup .block-2 {
    margin-top: -20%; }
  .example-popup .ipad {
    padding-top: 1em;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; }
  .example-popup .ipad-1 {
    -webkit-background-size: 80% 80%;
            background-size: 80%; }
    .example-popup .ipad-1 img {
      margin-bottom: 4.5%; }
  .example-popup .ipad-2 {
    -webkit-background-size: 84% 76%;
            background-size: 84% 76%; }
    .example-popup .ipad-2 img {
      margin-bottom: 2%; }
  .example-popup .mobile {
    width: 40%;
    background-position: center;
    -webkit-background-size: 97% 85%;
            background-size: 97% 85%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative; }
  .example-popup .mobile-1 {
    left: 55%;
    margin-top: -65%; }
  .example-popup .mobile-2 {
    left: 5%;
    margin-bottom: -63%; }
  .example-popup .p_button {
    padding-top: 2em;
    padding-bottom: 1.2em;
    text-align: center; }
    .example-popup .p_button a {
      text-decoration: none;
      background: #959595;
      color: #272727;
      font-family: lobster;
      font-size: 1.2rem;
      padding: 0.5em 1.5em;
      margin: 1em;
      -webkit-border-radius: 6px;
              border-radius: 6px;
      border: 2px solid #272727;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
      .example-popup .p_button a:hover {
        background: #272727;
        color: #959595;
        border: 2px solid #959595; }

.mfp-close-btn-in .mfp-close {
  color: #959595; }

#contact {
  color: #959595;
  font-family: lobster; }
  #contact .contact-blocks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px; }
    #contact .contact-blocks .left {
      font-size: 1.2rem;
      grid-column: 1 / 5; }
      #contact .contact-blocks .left .contact-info {
        padding-top: 2em;
        padding-left: 1em; }
        #contact .contact-blocks .left .contact-info a {
          text-decoration: none;
          color: #959595; }
    #contact .contact-blocks .right {
      grid-column: 5 / 13; }
      #contact .contact-blocks .right form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px; }
        #contact .contact-blocks .right form input,
        #contact .contact-blocks .right form textarea {
          width: 100%;
          border: 2px solid #959595;
          background-color: #2e2e2ece;
          color: #959595;
          font-family: lobster;
          font-size: 1.2rem;
          padding: 5px;
          -webkit-border-radius: 4px;
                  border-radius: 4px; }
          #contact .contact-blocks .right form input:focus,
          #contact .contact-blocks .right form textarea:focus {
            outline: none; }
        #contact .contact-blocks .right form textarea {
          resize: none;
          height: 11em; }
        #contact .contact-blocks .right form .button-container button {
          background: #2e2e2e;
          color: #959595;
          border: 2px solid #959595;
          font-family: lobster;
          font-size: 1.2rem;
          padding: 0.5em 2.4em;
          -webkit-border-radius: 6px;
                  border-radius: 6px;
          -webkit-transition: 0.3s ease;
          -o-transition: 0.3s ease;
          transition: 0.3s ease;
          cursor: pointer;
          text-decoration: none;
          margin-top: 0.5em;
          margin-bottom: 1em; }
          #contact .contact-blocks .right form .button-container button:hover {
            background: #959595;
            color: #2e2e2e;
            -webkit-transition: 0.3s ease;
            -o-transition: 0.3s ease;
            transition: 0.3s ease;
            border: 2px solid #2e2e2e; }
        #contact .contact-blocks .right form .text {
          grid-column: span 3; }
        #contact .contact-blocks .right form #massageShow {
          color: #B46E3C;
          font-size: 1.5rem;
          grid-column: span 3; }

#footer {
  padding-top: 4rem;
  color: #959595; }
  #footer hr {
    border: 4px solid #959595;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
  #footer .social-block {
    padding-top: 25px;
    text-align: center;
    font-size: 3rem; }
    #footer .social-block a {
      text-decoration: none;
      color: #959595; }
      #footer .social-block a i {
        margin: 0 1rem; }
      #footer .social-block a .fab {
        -webkit-transition: 0.6s ease-out;
        -o-transition: 0.6s ease-out;
        transition: 0.6s ease-out; }
      #footer .social-block a:hover {
        color: #B46E3C; }
        #footer .social-block a:hover .fab {
          -webkit-transform: rotateZ(720deg);
              -ms-transform: rotate(720deg);
                  transform: rotateZ(720deg); }
  #footer .copy {
    text-align: center;
    padding-top: 5rem;
    font-size: 12px; }

@media screen and (max-width: 63em) {
  .main {
    padding: 0 2em;
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s; }
  .menu {
    -webkit-transform: translate3d(-95px, 0, 0);
            transform: translate3d(-95px, 0, 0);
    width: 145px; }
  .menu.menu--open + .main {
    opacity: 0.05; }
  .morph-shape svg path {
    stroke-width: 10px; } }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1.8rem; }
  h2 {
    font-size: 1.5rem; }
  #about .tech-blocks {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr; }
    #about .tech-blocks .tech-block:first-child {
      grid-column-start: 1; }
  #portfolio .portfolio-gallary {
    grid-template-columns: repeat(2, 44vw);
    grid-template-rows: repeat(6, 35vw);
    grid-gap: 2vw; }
    #portfolio .portfolio-gallary a:first-child {
      grid-column: span 2;
      grid-row: 1 / 3; }
    #portfolio .portfolio-gallary a:nth-child(4) {
      grid-column: span 2;
      grid-row: 4 / 6; }
  #contact .contact-blocks .left {
    grid-column: 1 / 6; }
  #contact .contact-blocks .right {
    grid-column: 6 / 13; }
    #contact .contact-blocks .right form {
      grid-template-columns: 1fr; }
      #contact .contact-blocks .right form .text {
        grid-column: span 1; }
      #contact .contact-blocks .right form #massageShow {
        grid-column: span 1; }
  .example-popup {
    width: 90vw; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #about .about-blocks {
    grid-template-columns: 1fr; }
  #contact .contact-blocks {
    grid-template-columns: 1fr; }
    #contact .contact-blocks .left {
      grid-column: span 1; }
    #contact .contact-blocks .right {
      grid-column: span 1;
      grid-row-start: 1; }
      #contact .contact-blocks .right form .text {
        grid-column: span 1; }
  #footer .social-block {
    padding-top: .5em;
    font-size: 2.2rem; }
    #footer .social-block a i {
      margin: 0 .3rem; } }

/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
