@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  #services .services-block .services-card .card-info {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1366px) {
  .button-container .btn {
    font-size: 20px;
  }
  //Хедер
  header {
    nav {
      height: 45px;
      .head-container {
        a {
          font-size: 20px;
        }
        .logo {
          img {
            height: 39px;
            padding-top: 3px;
          }
        }
        .menu {
          ul {
            margin-top: 10px;
          }
        }
        .social {
          a {
            i {
              font-size: 26px;
            }
          }
        }
      }
    }
    .fullscreen-video-wrap {
      top: 45px;
      height: calc(100vh - 45px);
    }
  }
  //стрілка
  header .down-btn .chevron {
    width: 20px;
    height: 6px;
  }
  //Інфо хедера
  header .header-content h1 {
    font-size: 110px;
  }

  header .header-content p {
    font-size: 35px;
  }
  //про мене
  #about .about-top .right p {
    font-size: 25px;
  }
  //Інстаграм
  #instagram {
    #instafeed {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1vw;
      .instaimg {
        width: 24vw;
        height: 24vw;
      }
    }
  }
  //пакети послуг
  #services .services-block .services-card .card-head {
    height: 85px;
    font-size: 30px;
  }
  #services .services-block .services-card .card-info {
    font-size: 15px;
    height: 33vh;
  }
  #services .services-block .services-card {
    &:first-child {
      .card-info {
        font-size: 12px;
      }
    }
  }
  #services .services-block .services-card .card-price {
    height: 80px;
    font-size: 40px;
    p {
      margin: 20px 0;
    }
  }
  //футер
  #footer .footer-block .container h3 {
    font-size: 24px;
    padding: 0;
  }
  #footer .footer-block .container p {
    font-family: Roboto-Italic;
    font-size: 17px;
  }
  #footer .footer-block .container .footer-left img {
    height: 70px;
  }
  #footer .footer-block .container .footer-right .info-p {
    font-size: 21px;
  }
  #footer .footer-block .container .footer-right .made {
    font-size: 12px;
    padding-bottom: 5px;
  }
  #footer .footer-block .container .footer-right img {
    margin-top: 10px;
    height: 41px;
    padding-left: 10px;
    margin-bottom: -11px;
  }
  #footer .footer-block .container .footer-right {
    grid-column: 7 / 13;
  }

  #footer .footer-block .container .footer-right .info-p a {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1200px) {
  .button-container .btn {
    font-size: 17px;
  }
  header .header-content h1 {
    font-size: 100px;
  }
  header .header-content p {
    font-size: 30px;
  }
  //пакети послуг
  #services .services-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
  #services .services-block .services-card .card-info {
    font-size: 13px;
    height: 220px;
  }
  #services .services-block .services-card .card-head {
    height: 65px;
    font-size: 25px;
  }
  #services .services-block .services-card .card-price {
    font-size: 29px;
  }
  #services .services-block .services-card .card-price span {
    font-size: 19px;
  }
}

@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  #about .about-top .right p {
    font-size: 28px;
  }
  #about .about-bottom .about-block .text {
    font-size: 18px;
  }
  #about .about-top .right p {
    font-size: 24px;
  }

  #about .about-top .left {
    grid-column: 1 / 6;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #footer .footer-block .container .footer-right .info-p a {
    font-size: 20px;
  }
  #services .services-block .services-card .card-info {
    height: 265px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .show {
    display: block !important;
  }
  header {
    nav {
      height: 65px;
      .head-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        a {
          font-size: 22px;
        }
        .logo {
          grid-column: 2 / 4;
          img {
            height: 55px;
            padding-top: 5px;
          }
        }
        .menu {
          grid-column: 1 / 13;
          grid-row-start: 2;
          width: 100%;
          display: none;
          transition: 0.3s ease;
          ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            background: $accent;
            margin: 0;
            li {
              padding: 5vh 0;
              a {
                font-size: 33px;
              }
            }
          }
        }
        .social {
          grid-column: 9 / 12;
          a {
            i {
              font-size: 32px;
            }
            &:hover {
              box-shadow: none;
            }
          }
        }
        .menu-icon {
          grid-column: 12 / 13;
          display: block;
          color: $mbg;
          margin-top: 15px;
        }
      }
    }
    .fullscreen-video-wrap {
      top: 0;
      height: 100vh;
    }
    .down-btn {
      position: absolute;
      bottom: 8%;
      left: calc((100% - 20px) / 2);
    }
  }

  #about {
    .about-top {
      .left {
        grid-column: 1 / 7;
        height: auto;
        width: auto;
        background-size: cover;
      }
      .right {
        grid-column: 7 / 13;
        p {
          font-size: 23px;
        }
      }
    }
    h3 {
      font-size: 23px;
    }
    .about-bottom {
      flex-direction: column;
      justify-content: flex-start;
      .about-block {
        justify-content: flex-start;
        margin-top: 5px;
        .text {
          font-size: 25px;
        }
      }
    }
  }

  #photo-slider {
    display: none;
  }

  //Інстаграм
  #instagram {
    #instafeed {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.3vw;
      .instaimg {
        position: relative;
        width: 32vw;
        height: 32vw;
        overflow: hidden;
        background: #000;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          width: auto;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  img.mfp-img {
    width: 85vw;
    height: auto;
  }
  .mfp-close {
    width: 55px;
    height: 55px;
    font-size: 50px;
  }

  #services {
    .services-block {
      grid-template-columns: 1fr;
      width: 50vw;
      .services-card {
        .card-head {
          height: 87px;
          font-size: 33px;
        }
        .card-info {
          font-size: 19px;
          height: 320px;
        }
        .card-price {
          font-size: 38px;
        }
      }
    }
  }

  #footer .footer-block .container .footer-right .info-p a {
    font-size: 19px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  header {
    nav {
      height: 65px;
      .head-container {
        .social {
          grid-column: 8 / 12;
          a {
            i {
              font-size: 30px;
            }
          }
        }
      }
    }
    .fullscreen-video-wrap {
      video {
        display: none;
      }
    }
    .header-content {
      h1 {
        padding-top: 41vh;
        font-size: 95px;
      }
      p {
        font-size: 26px;
        margin: 0 auto;
        margin-top: 1vh;
      }
    }
  }

  #about {
    .about-top {
      .left {
        grid-column: 1 / 12;
        grid-row: 1 / 2;
        height: 140vw;
        width: 90vw;
        background-size: cover;
      }
      .right {
        grid-column: 1 / 12;
        grid-row: 2;
      }
    }
  }

  #services {
    .services-block {
      grid-template-columns: 1fr;
      width: 70vw;
      .services-card {
        .card-info {
          height: auto;
        }
      }
    }
  }

  #footer {
    .footer-block {
      background-size: cover;
      .container {
        .footer-left {
          grid-column: 1 / 12;
        }
        .footer-right {
          grid-column: 1 / 12;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  header {
    nav {
      height: 65px;
      .head-container {
        .social {
          grid-column: 7 / 12;
          a {
            i {
              font-size: 25px;
              padding-top: 0.7em;
            }
          }
        }
        .menu-icon {
          margin-right: 15px;
        }
      }
    }
    .header-content {
      h1 {
        padding-top: 38vh;
        font-size: 80px;
      }
    }
  }

  #services {
    .services-block {
      width: 75vw;
      .services-card {
        .card-head {
          height: 80px;
          font-size: 30px;
        }
        .card-info {
          font-size: 14px;
        }
        .card-price {
          font-size: 32px;
        }
      }
    }
  }

  #about {
    .about-bottom {
      margin-left: 1em;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
