@import "fonts";
@import "libs";
@import "base";
@import "vars";

*, body,
html {
  margin: 0;
  padding: 0;
}

body {
	background: url(../img/wood-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.container {
	width: 90%;
	max-width: 1300px;
  margin: auto;
}

.container-ww {
	width: 90%;
  margin: auto;
}

.box {
	filter: blur(5px);
	filter: brightness(20%);
	pointer-events: none;
	transition: opacity .5s ease;
}

h2 {
	font-size: 2.5rem;
	padding: 1em;
	padding-top: 2em;
}

h3 {
	font-size: 1.5rem;
	padding-bottom: .6em;
}

*, *:after, *:before {
	box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
	content: ''; 
	display: table;
}
.clearfix:after { clear: both;
}


// Початок меню
nav {
  .menu__inner {
    a {
      color: $navbar;//Колір ссилок меню
      text-decoration: none;
      text-align: center;
    }
    a:hover,
    a:focus {
      color: $navhover;
      outline: none;
    }
  }
}
.menu {
	position: fixed;
	width: 160px;
	top: 3em;
	bottom: 3em;
	left: 0;
	z-index: 100;
	overflow: hidden;
	transform: translate3d(-95px, 0, 0);
	transition: transform 0.6s;
}

.menu.menu--open {
	transform: translate3d(0, 0, 0);
}

.main {
	transition: opacity 0.6s;
}

.menu.menu--open + .main {
	opacity: 0.3;
	pointer-events: none;
}

.menu__inner {
	width: calc(100% + 25px);
	padding: 0 70px 2em 0; //(0 140px 2em 0)
	overflow-y: auto;
	height: 100%;
	position: relative;
	z-index: 100;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li {
	margin: 0 0 2em 0;
	transform: translate3d(-150px, 0, 0);
	transition: transform 0.6s;
}

.menu.menu--anim ul li {
	transform: translate3d(0, 0, 0);
}

.menu ul li:first-child {
	transition-delay: 0.3s;
}

.menu ul li:nth-child(2) {
	transition-delay: 0.2s;
}

.menu ul li:nth-child(3) {
	transition-delay: 0.1s;
}

.menu ul li a {
	display: block;
	outline: none;
}

.menu ul li i {
	font-size: 2.5em;
	display: block;
	margin: 0 auto;
	color: $navbar; //Колір значків меню
	&:hover,
    &:focus {
      color: $navhover;
      outline: none;
    }
}

.menu ul li span {
	font-weight: bold;
	font-size: 0.75em;
	font-family: "Roboto-Bold";
}

.menu__handle {
	background: rgba(0, 0, 0, 0);
	border: none;
	width: 30px;
	height: 24px;
	padding: 0;
	outline: none;
	position: absolute;
	top: 3px;
	right: 0px; //(70)
	z-index: 2000;
	cursor: pointer;
}

.menu__handle::before,
.menu__handle::after,
.menu__handle span {
	background: $navbar; // Колір гамбургера-іконки
}

.menu__handle::before,
.menu__handle::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	transform-origin: 50% 50%;
	transition: transform 0.25s;
}

.menu__handle span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	overflow: hidden;
	text-indent: 200%;
	transition: opacity 0.25s;
}

.menu__handle::before {
	transform: translate3d(0, -10px, 0);
}

.menu__handle::after {
	transform: translate3d(0, 10px, 0);
}

.menu--open .menu__handle span {
	opacity: 0;
}

.menu--open .menu__handle::before {
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu--open .menu__handle::after {
	transform: rotate3d(0, 0, 1, -45deg);
}

.morph-shape {
	position: absolute;
	width: 91px; //(240)
	height: 100%;
	top: 0;
	right: 0;
}

.morph-shape svg path {
	stroke: $navbar; //Колір лінії
	stroke-width: 20px;
}// ---------------->меню


//Перша секція
#canv {
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  #logo{
    opacity: 0;
  }
}

//Друга секція
#about {
	width: 100%;
	color: $lgray;
	font-family: lobster;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,1,10,1) 19%, rgba(0,3,51,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,1,10,1) 19%,rgba(0,3,51,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,1,10,1) 19%,rgba(0,3,51,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000333',GradientType=0 ); /* IE6-9 */
	.about-blocks {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10vw;
		.block {
			width: 90%;
			.counters {
				margin-top: 1em;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				text-align: center;
				color: $lgray;
				// color: $navbar;
				.count {
					.fas {
						font-size: 2.5rem;
					}
					span {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
	.tech {
		padding-top: 1em;
	}
	.tech-blocks {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		.tech-block {
			text-align: center;
			&:first-child {
				grid-column-start: 2;
			}
			.icon {
				font-size: 3rem;
			}
		}
	}
}

//Третя секція
#portfolio {
	color: $lgray;
	font-family: lobster;
	.portfolio-gallary {
		display: grid;
		grid-template-columns: repeat(4, 21vw);
		grid-template-rows: repeat(3, 16vw);
		grid-gap: 2vw;
		a {
			text-decoration: none;
			color: $navbar;
			font-size: 3rem;
			.portfolio-item {
				background-size: cover;
				background-position: top;
				height: 100%;
				transition: 0.3s ease;
				i {
					position: relative;
					text-align: center;
					top: 50%;
					left: 50%;
					transform: translate(-40%, -50%);
					opacity: 0;
					transition: 0.5s ease;
				}
			}
			&:first-child {
				grid-column: span 2;
				grid-row: 1 / 3;
			}
			&:nth-child(4) {
				grid-column: 3 / 5;
				grid-row: 2 / 4;
			}
			&:hover {
				.portfolio-item {
					box-shadow: 1px 11px 700px 300px rgba(47,47,47,0.7) inset;
					i{
						opacity: 1;
					}
				}
			}
		}
	}
}

.example-popup {
	position: relative;
	background: url(../img/dark-line.jpg);
	color: $lgray;
	padding: 20px;
	width: 50%;
	margin: 20px auto;
	font-family: lobster;
	h4 {
		font-size: 1.2rem;
	}
	p {
		font-size: 1.1rem;
	}
	.first_img {
		padding: 1em 0;
	}
	img {
		width: 100%;
		height: auto;
		margin-bottom: 0px;
	}
	.block-2 {
		margin-top: -20%;
	}
	.ipad {
		padding-top: 1em;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
	}
	.ipad-1 {
		background-size: 80%;
		img {
			margin-bottom: 4.5%;
		}
	}
	.ipad-2 {
		background-size: 84% 76%;
		img {
			margin-bottom: 2%;
		}
	}
	.mobile {
		width: 40%;
		background-position: center;
		background-size: 97% 85%;
		background-repeat: no-repeat;
		overflow: hidden;
		position: relative;
	}
	.mobile-1 {
		left: 55%;
		margin-top: -65%;
	}
	.mobile-2 {
		left: 5%;
		margin-bottom: -63%;
	}
	.p_button {
		padding-top: 2em;
		padding-bottom: 1.2em;
		text-align: center;
		a {
			text-decoration: none;
			background: $lgray;
			color: $gray;
			font-family: lobster;
			font-size: 1.2rem;
			padding: 0.5em 1.5em;
			margin: 1em;
			border-radius: 6px;
			border: 2px solid $gray;
			transition: .3s ease;
			&:hover {
				background: $gray;
				color: $lgray;
				border: 2px solid $lgray;
			}
		}
	}
}
.mfp-close-btn-in .mfp-close {
	color: $lgray;
}

//Четверта секція
#contact {
	color: $lgray;
	font-family: lobster;
	.contact-blocks {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: $gutter;
		.left {
			font-size: 1.2rem;
			grid-column: 1 / 5;
			.contact-info {
				padding-top: 2em;
				padding-left: 1em;
				a {
					text-decoration: none;
					color: $lgray;
				}
			}
		}
		.right {
			grid-column: 5 / 13;
			form {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: $gutter;
				input,
				textarea {
					width: 100%;
					border:2px solid $lgray;
					background-color: #2e2e2ece;
					color: $lgray;
					font-family: lobster;
					font-size: 1.2rem;
					padding: 5px;
					border-radius: 4px;
					&:focus {
						outline: none;
					}
				}
				textarea {
					resize: none;
					height: 11em;
				}
				.button-container {
					button {
						background: #2e2e2e;
						color: $lgray;
						border:2px solid $lgray;
						font-family: lobster;
						font-size: 1.2rem;
						padding: 0.5em 2.4em;
						border-radius: 6px;
						transition: 0.3s ease;
						cursor: pointer;
						text-decoration: none;
						margin-top: 0.5em;
						margin-bottom: 1em;
						&:hover {
							background: #959595;
							color: #2e2e2e;
							transition: 0.3s ease;
							border:2px solid #2e2e2e;
						}
					}
				}
				.text {
					grid-column: span 3;
				}
				#massageShow{
					color: $navhover;
					font-size: 1.5rem;
					grid-column: span 3;
				}
			}
		}
	}
}

#footer {
	padding-top: 4rem;
	color: $lgray;
	hr {
		border: 4px solid $lgray;
		border-radius: 4px;
	}
	.social-block {
		padding-top: 25px;
		text-align: center;
		font-size: 3rem;
		a {
			text-decoration: none;
			color: $lgray;
			i {
				margin: 0 1rem;
			}
			.fab{ 
				transition:  0.6s ease-out;
			}
			&:hover {
				color: $navhover;
				.fab {
					transform: rotateZ(720deg);
				}
			}
		}
	}
	.copy {
		text-align: center;
		padding-top: 5rem;
		font-size: 12px;
	}
}








@import "media"; // Всегда в конце
