@import "fonts";
@import "libs";
@import "base";
@import "vars";

h2 {
  font-family: Roboto-Bold;
  font-size: 43px;
  color: $accent;
}

h3 {
  font-family: Roboto-Bold;
  font-size: 1.8rem;
  padding: 0.4em 0;
}

header {
  height: 65px;
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: $accent;
    z-index: 500;
    .head-container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      a {
        text-decoration: none;
        color: $mbg;
        font-family: Roboto-Bold;
        font-size: 26px;
        &:hover {
          color: $card-head;
          box-shadow: 0px 5px 0px 0px rgba(191, 151, 136, 1);
          transition: 0.3s ease;
        }
      }
      .logo {
        img {
          height: 55px;
          padding-top: 5px;
        }
      }
      .menu {
        opacity: 1;
        width: 60%;
        ul {
          padding-inline-start: 0;
          display: flex;
          justify-content: space-between;
          list-style: none;
          li {
            &:nth-child(3) {
              a {
                color: $card-head;
              }
            }
          }
        }
      }
      .social {
        a {
          i {
            padding-top: 0.5em;
            font-size: 32px;
            padding-left: 0.4em;
          }
          &:hover {
            box-shadow: none;
          }
        }
      }
      .menu-icon {
        display: none;
      }
    }
  }
}

.middle {
  // position: absolute;
  text-align: center;
  font-family: Play;
  color: $accent;
  .text-name {
    font-size: 2rem;
    span {
      font-size: 3rem;
      font-weight: 700;
    }
  }
  #demo {
    margin-top: 1rem;
    font-weight: 700;
  }
  hr {
    margin: auto;
	  width: 70%;
  }
}

#services {
  h2 {
    padding: 0;
  }
  .services-block {
    padding-bottom: 2rem;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
    h3 {
      color: $accent;
      grid-column: span 3;
      padding: 0 auto;
      margin-top: 0;
      margin-bottom: -1.5em;
      text-align: center;
      border: none !important;
    }
    .services-card {
      border: 2px solid $accent;
      color: $accent;
      .card-head {
        height: 120px;
        background: $card-head;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        font-family: Roboto-BoldItalic;
        font-size: 38px;
      }
      .card-info {
        height: 35vh;
        background: #fff;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        font-family: Roboto-BoldItalic;
        font-size: 20px;
        line-height: 2;
      }
      .card-price {
        height: 140px;
        background: #fff;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        font-family: Roboto-MediumItalic;
        font-size: 45px;
        span {
          font-size: 25px;
          display: inline-block;
        }
      }
    }
  }
}

#other-services {
  h3 {
    color: $accent;
    padding: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .other-services-block {
    .line {
      display: grid;
      grid-template-columns: 2fr 10fr 2fr;
      font-family: Roboto-Italic;
      font-size: 1.5rem;
      color: $accent;
      .center {
        border-bottom: 2px dotted $accent;
      }
    }
  }
}

#info {
  h3 {
    text-align: center;
    color: $accent;
  }
  p {
    font-family: Roboto-Italic;
    font-size: 1.6rem;
    color: $accent;
    a {
      font-family: Roboto-MediumItalic;
      text-decoration: none;
      color: $accent;
    }
  }
}

#footer {
  height: auto;
  background-color: $accent;
  .footer-block {
    height: auto;
    background-image: url(../img/slide.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.5;
    .container {
      color: $mbg;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 30px;
      p {
        font-family: Roboto-Italic;
        font-size: 23px;
      }
      .footer-left {
        grid-column: 1 / 5;
        img {
          height: 90px;
        }
      }
      .footer-right {
        grid-column: 7 / 12;
        h3 {
          padding-bottom: 0;
        }
        .info-p {
          font-family: Roboto-Italic;
          font-size: 31px;
          margin: 0.2em;
          i {
            padding-right: 0.5em;
          }
          a {
            text-decoration: none;
            font-family: Roboto-Italic;
            font-size: 31px;
            color: $mbg;
            margin: 0.2em;
          }
        }
        .made {
          font-size: 16px;
          display: inline-block;
          padding-bottom: 5px;
        }
        img {
          height: 50px;
          padding-left: 5px;
          margin-bottom: -10px;
        }
      }
    }
  }
}

@import "media-services";
