@import "fonts";
@import "libs";
@import "base";
@import "vars";

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto-Regular;
}

.container {
    width: 992px;
    margin: auto;
}

.consalt-button {
    a{
        text-decoration: none;
        font-family: Roboto-Black;
        font-size: 16px;
        color: #fff;
        background: $yellow;
        padding: 23px 35px 22px 37px;
        &:hover {
            box-shadow: 0px 0px 2px 2px #E9C047;
        }
    }
}

// Кнопка наверх
#toTop {
    width:60px;
    background: $yellow;
    padding: 2px 5px 2px 5px;
    position:fixed;
    bottom:0; /* отступ кнопки от нижнего края страницы*/
    left: 15%;
    cursor:pointer;
    display:none;
    color: #fff;
    font-family: Roboto-Light;
    font-size:11px;
    }
// --тут

h2 {
    font-family: Roboto-Bold;
    font-size: 36px;
    color: $grey-text;
}

h3 {
    font-family: Roboto-Bold;
    font-size: 16px;
    color: $grey-text;
}
    

#start {
    position: relative;
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-header {
    position: relative;
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 520px;
    margin: auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left {
        background-image: url(../img/bg-header.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: auto 410px;
        img {
            position: absolute;
            height: 160px;
            width: auto;
        }
        
    }
    .right {
        padding-left: $gutter;
        background: #364457;
        .contact-info{
            display: flex;
            justify-content: space-between;
            .phone,
            .addres {
                font-size: 16px;
                color: #fff
            }
            img {
                height: 18px;
                padding-right: 12px;
            }

        }
        h1 {
            font-family: Roboto-Light;
            font-size: 40px;
            color: #fff;
            padding-top: 93px;
            padding-bottom: 40px;
        }
        p {
            font-size: 16px;
            color: #fff;
            padding-bottom: 57px;
        }
    }
    .mouse {
        position: absolute;
        top: 440px;
        left: 48%;
        grid-column: 2 span;
        text-align: center;
        img {
            height: 40px;
        }
    }
}

nav{
    width: 100%;
    background: $m-bg;
    height: 50px;
    .container ul {
        list-style: none;
    }
    .container > ul {
        display: flex;
        justify-content: space-between;
        li {
            position: relative;
            a{
                display: block;
                background: $m-bg;
                padding-top: $gutter;
                padding-bottom: 10px;
                font-size: 14px;
                color: #364457;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    border-bottom: 5px solid $yellow;
                    padding-bottom: 5px;
                }
                i {
                    padding-left: 15px;
                }
            }
            ul {
                position: absolute;
                min-width: 118px;
                min-height: 30px;
                display: none;
                li {
                    a{
                        font-size: 12px;
                        background: #efd382;
                        padding-top: 10px;
                        padding-bottom: 13px;
                        padding-left: 10px;
                        &:hover {
                            background: $yellow;
                        }
                    }
                }
            }
            &:hover>ul {
                display: block;
            }
        }
    }
}
// закріплений навбар
.navbar-fixed {
    position: fixed;
    top: -($nav-height);
    z-index: 1;
}
// тут


#section-a {
    padding-top: 65px;
    padding-bottom: 20px;
    background: $m-bg;
    .business-guard {
        display: grid;
        grid-template-columns: 422px 578px;
        .guard-left {
            h2 {
                padding-top: 120px;
            }
            p {
                font-size: 14px;
                color: $grey-text;
                padding:45px 80px 100px 0;
            }
            .up-button {
                padding-top: 165px;
            }
        }
        .guard-right {
            .guard-cards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: $gutter;
                padding-top: 50px;
                .guard-card {
                    background: $gray;
                    display: flex;
                    height: 150px;
                    img {
                        height: 37px;
                        padding: 20px 0 0 20px ;
                    }
                    h3 {
                        padding: 20px
                    }
                }
            }
        }
    }
}

#section-b {
    padding-bottom: 50px;
    background: $m-bg;
    height: 550px;
    .personal-guard {
        padding-top: 35px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .guard-left {
            padding-right: 155px;
            h2 {
                padding: 120px 0 0 0;
            }
            p {
                font-size: 14px;
                color: $grey-text;
                padding:45px 0px 100px 0;
            }
        }
        .guard-right {
            .guard-cards {
                padding-top: 50px;
                padding-left: $gutter;
                grid-template-columns: 1fr;
                .guard-card {
                    padding-top: 13px;
                    display: grid;
                    grid-template-columns: 50px 350px;
                    .img {
                       background: $yellow;
                       height: 50px;
                       height: 50px;
                       text-align: center;
                       align-content: center;
                       img {
                           width: 40px;
                           height: 40px;
                           padding-top: 5px;
                       }
                    }
                    h3 {
                        background: $gray;
                        text-transform: uppercase;
                        padding-top: 18px;
                        padding-left: 16px;
                    }
                }
            }
        }
    }
}

#section-c {
    background: $m-bg;
    height: 650px;
    .container-wide {
        padding-top: 40px;
        background: url(../img/bg-c.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 1140px;
        height: 600px;
        margin: auto;
        .about {
            padding-top: 60px;
            display: grid;
            grid-template-columns: 450px 532px;
            .about-left {
                padding-right: 78px;
                h2 {
                    padding-bottom: 25px;
                }
            }
            .about-right {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 32px 40px;
                .about-block-a,
                .about-block-b,
                .about-block-c {
                    .head,
                    .head-d {
                        font-family: Roboto-Bold;
                        color: $yellow;
                        padding-left: 15px;
                    }
                    .inf {
                        font-size: 16px;
                        padding-top: 15px;
                    }
                }
                .about-block-a{
                    .head {
                        font-size: 60px;
                    }
                }
                .about-block-b{
                    .head {
                        font-size: 50px;
                    }
                }
                .about-block-c{
                    .head {
                        font-size: 29px;
                    }
                }
                .about-block-a,
                .about-block-b {
                    .head-d {
                        font-family: Roboto-Regular;
                        font-size: 19px;
                    }
                }
                .about-block-c{
                    .head-d {
                        font-family: Roboto-Regular;
                        font-size: 29px;
                    }
                }

                .block-head {
                    border-left: 2px solid $yellow; 
                }
            }
        }
    }
}

#section-d {
    background: $m-bg;
    height: 600px;
    .team {
        .team-top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 88px;
            .team-left {
                p {
                    padding-top: 30px;
                    padding-bottom: 42px;
                }
            }
            .team-right {
                border-left: 3px solid $gray;
                p {
                    padding: 0 45px 35px 35px;
                }
                p:nth-child(2) {
                    padding-bottom: 0;
                }
            }
        }
        .team-bottom {
            padding-top: 40px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 45px;
            font-family: Roboto-Light;
            font-size: 16px;
            text-align: center;
            img {
                width: 205px;
            }
            .name {
                text-transform: uppercase;
            }
        }
    }
}

#section-e {
    background: $m-bg;
    height: 700px;
    .cases {
        padding-top: 85px;
        .cases-top {
            p {
                padding-top: 27px;
                padding-right: 515px;
                padding-bottom: 35px;
            }
        }
        .cases-bottom {
            .slickslider {
                padding-bottom: 0px;
                .case {
                    border-left: 1px solid #d6dee67e;
                    border-right: 1px solid #d6dee67e;
                    .case-head {
                        
                        font-family: Roboto-Light;
                        font-size: 26px;
                        color: #fff;
                        text-transform: uppercase;
                        text-align: center;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        background: url(../img/l-bg.png);
                    }
                    h4 {
                        font-family: Roboto-Bold;
                        font-size: 14px;
                        text-transform: uppercase;
                        padding-top: 14px;
                        padding-bottom: 10px;
                        padding-left: 10px;
                    }
                    p {
                        font-family: Roboto-Light;
                        font-size: 14px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    &:hover {
                        cursor: pointer;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}

#section-f {
    background: $m-bg;
    height: 650px;
    .prises {
        .prises-top {
            padding-top: 70px;
            p {
                padding-top: 25px;
                padding-right: 670px;
                padding-bottom: 20px;
            }

        }
        .prises-bottom {
            .prises-cards {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                .prises-card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-right: 1px solid #d6dee67e;
                    border-left: 1px solid #d6dee67e;
                    transition: 0.3s ease;
                    height: 350px;
                    margin: 25px 10px;
                    transition: 0.3s ease;
                    .card-head {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        background-size: cover;
                        background-position: center;
                        height: 95px;
                        width: 230px;
                        transition: 0.3s ease;
                        h4 {
                            font-size: 16px;
                            color: $gray;
                            text-transform: uppercase;
                        }
                    }
                    .card-info {
                        display: flex;
                        align-items: center;
                        width: 198px;
                        i {
                            margin: 13px;
                            font-size: 22px;
                            color: $grey-text;
                            transition: 0.3s ease;
                        }
                        p {
                            font-size: 11px;
                            color: $grey-text;
                            padding: 10px 0;
                            width: 130px;
                            transition: 0.3s ease;
                        }
                    }
                    .card-bottom {
                        background: $grey-text;
                        color: $gray;
                        font-size: 14px;
                        text-transform: uppercase;
                        width: 230px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        transition: 0.3s ease;
                        i {
                            padding-left: 10px;
                        }
                    }
                    &:hover {
                        margin: 0;
                        margin-left: 10px;
                        height: 400px;
                    .card-head {
                        height: 110px;
                        width: 230px;
                    }
                    .card-info {
                        width: 218px;
                        i {
                            margin: 15px;
                        }
                    }
                    .card-bottom {
                        width: 230px;
                    }
                    }
                }
            }       
        }
    }    
}

#section-g {
    background: url(../img/media-bg.jpg);
    background-position: center;
    background-size: cover;
    .media {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .media-left {
            padding-top: 150px;
            h2 {
                color: #fff;
                padding-right: 180px;
                padding-bottom: 55px;
            }
            p {
                font-family: Roboto-Regular;
                color: #fff;
                padding-right: 90px;
                padding-bottom: 75px;
            }
            .consalt-button {
                padding-bottom: 145px;
            }
        }
        .media-right {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
            padding-top: 110px;
            .media-card {
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
                justify-content: center;
                img {
                    height: 60px;
                    width: 60px;
                }
                p {
                    font-size: 12;
                    text-align: center;
                    color: #d4d8dc;
                }
                &:last-child {
                    grid-column: 2 / 3;
                }
            }
        }
    }
}

#section-j {
    background: $m-bg;
    height: 600px;
    .advice {
        .advice-top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .advice-top-left {
                h2 {
                    padding-top: 100px;
                    padding-bottom: 30px;
                }
                p {
                    padding-right: 150px;
                    padding-bottom: 55px;
                }
            }
            .advice-top-right {
                padding-top: 125px;
                padding-left: 20px;
                display: grid;
                grid-template-columns: 20px 450px;
                grid-template-rows: 20px 20px 20px;
                align-items: center;
                justify-content: center;
                column-gap: 18px;
                .facebook-square {
                    grid-area: facebook;
                }
                .instagram {
                    grid-area: instagram;
                }
                .youtube {
                    grid-area: youtube;
                }
                .text-socia {
                    grid-area: socia;
                    padding: 15px 60px 20px 10px;
                    background: url(../img/socia-bg.jpg);
                    font-family: Roboto-Light;
                    font-size: 15px;
                    color: #d4d8dc;
                }
                grid-template-areas:
                    'facebook    socia'
                    'instagram   socia'
                    'youtube     socia';
                i {
                    font-size: 20px;
                    color: $grey-text;
                }
            }
        }
        .advice-bottom {
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
            // justify-content: center;
            .block-name {
                padding-right: 55px;
                font-size: 18px;
                span {
                    background: $yellow;
                    font-size: 12px;
                    color: #fff;
                    padding: 0 3px;
                }
            }
            .see-all {
                padding-top: 80px;
                .see-button {
                    a{
                        text-decoration: none;
                        font-family: Roboto-Black;
                        font-size: 16px;
                        color: #9098a0;
                        background: $m-bg;
                        padding: 23px 35px 22px 37px;
                        border: 2px solid #9098a0;
                        &:hover {
                            color: $m-bg;
                            background: #9098a0;
                            box-shadow: 0px 0px 2px 2px $m-bg;
                        }
                    }
                }
            }
            .slick-slide:hover {
                margin: 20px !important;
            }
        }
    }
}








@import "media"; // Всегда в конце
